<div>
    <p></p>
    <h3>Мои заказы</h3>
    <p></p>

    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Адрес доставки</td>
            <td>Стоимость</td>
            <td>Статус</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="order in MyOrders">
            <td>{{order.id}}</td>
            <td> {{order.country + ' ' + order.city +  ' ' + order.address +  ' ' + order.postalCode}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.status}}</td>
            <td>
                <button class="btn btn-primary" ng-click="goToPay(order.id)" data-ng-disabled="!isStatusNew(order)">Оплатить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>